<%# <% @json["feedback"].each do |feedback| %>
<%# <% feedback.each do |k,v| %> %>
  <%# <p><%= k["response"] %> %>
  <%# <%= k["hints"] %><%= v %></p> %>
  <%# <% end %> %>
<%# <% end %> %> %>
<%= @questions %>
<%= @answers %>
