<div class="containter mx-5 mt-3">
    <% question_array = @interview_questions.map do |interview_question| %>
      <% interview_question.question.content %>
    <% end %>

  <h3 class="mb-3 text-end"> Questions <%= @interview.answers.count + 1%> / <%= @interview.number_of_questions%></h3>
  <div class="question-display mt-2">
    <h4>
      <%= question_array[@interview.answers.count] %>
    </h4>
  </div>
  <div class="input-card mt-4">
    <% if @interview.answers.count < @interview.number_of_questions %>
      <%= simple_form_for [@interview_questions[@interview.answers.count], @answer], data: { controller: "voice-input" } do |a| %>
        <%= a.input :content, label: false, input_html: { class: 'answer-input fs-4 text-muted opacity-50', placeholder: 'Put your answer right here. Please keep it as short and understandable as possible.', data: { voice_input_target: 'input' } } %>
        <div class="d-flex">
          <span data-action="click->voice-input#record" style="cursor: pointer; text-decoration: underline" data-target="voice-input.startButton">
            Start Recording
          </span>
          <%= a.button :submit, class: "btn btn-primary" %>
      <%end%>
      <%= link_to "Skip Question", skip_question_interview_question_path(@interview_questions[@interview.answers.count]), class: "btn btn-primary mx-2" %>
    <% end %>

    <div data-controller= "disable-buttons" class= "" data-disable-buttons-target= "disable" data-disable-buttons-current-index-value="<%=@interview.answers.count%>" data-disable-buttons-array-size-value="<%=@interview.number_of_questions - 1%>">
      <%= link_to "Quit session", feedback_interview_path(@interview), class: "btn btn-primary"%>
          </div>
    </div>
  </div>
</div>
