

<% question_array = @interview_questions.map do |interview_question| %>
<p><% interview_question.question.content %></p>
<% end %>

<%# <%if session[:current_index] < question_array.size%>
<%= question_array[session[:current_index]] %>

  <%= simple_form_for [@interview_questions[session[:current_index]], @answer] do |a| %>
    <%= a.input :content %>
<div data-controller= "disable-buttons" class= "" data-disable-buttons-target= "disable" data-disable-buttons-current-index-value="<%=session[:current_index]%>" data-disable-buttons-array-size-value="<%=question_array.size - 1%>">
    <%= a.button :submit, class: "btn btn-primary" %>
  <% end %>
  <%= button_to "Stop", feedback_interview_path(@interview), method: :get, class: "btn btn-primary"%>
  <%= button_to "Skip", feedback_interview_path(@interview), method: :get, class: "btn btn-primary" %>
</div>
<%# <% elsif session[:current_index] == question_array.size%>
<%# <% end %>

<div data-controller= "interview-buttons" class = "d-none" data-interview-buttons-target= "enable" data-interview-buttons-current-index-value="<%=session[:current_index]%>" data-interview-buttons-array-size-value="<%=question_array.size - 1%>">
  <p><%="Thank you for your commitment!"%></p>
  <%= button_to "Submit", feedback_interview_path(@interview), method: :get, class: "btn btn-primary"%>
</div>
