<h1>hello</h1>
<% question_array = @interview_questions.map do |interview_question| %>
<p><% interview_question.question.content %></p>
<% end %>
<%# <% until question_array.size == 0  %>
  <%# <% @interview_questions.each do |interview_question| %> %>
  <%# <%= interview_question.question.content %> %>
    <%# <% question_array[0] %> %>
      <%# <%=  simple_form_for [interview_question, @answer] do |a| %> %>
      <%# <%= a.input :content %> %>
      <%# <%= a.submit %> %>
      <%# <% end %> %>
    <%# <% question_array.shift %> %>
  <%# <% end %> %>
<%# <% end %> %> %>
<% current_index = 0 %>
<%= question_array[current_index] %>
  <%  simple_form_for [interview_question, @answer] do |a| %>
    <% a.input :content %>
    <% a.submit %>
  <% end %>

  <% if params[:submitted]%>
    <%= question_array[current_index] %>
    <%  simple_form_for [interview_question, @answer] do |a| %>
      <% a.input :content %>
      <% a.submit %>
    <% end %>
  <% current_index += 1 %>
<% end %>
