<div class="container-home">
  <%= render "shared/transparent_navbar" %>
  <div class="banner">
    <h1><%= "Welcome to your INTERVIEW_buddy" %></h1>
    <h3><%= "Improve your developer knowledge remotelly and charge free" %></h3>
    <div id= "get_started_button_div">
      <%= button_to "Get started", new_interview_path, method: :get, class:"get_started_button"%>
    </div>
  </div>
  <%= render "shared/transparent_footer"%>
</div>
  <%# <hr>
  <div class="profile-body">
    <div class="img-1">
      <%= image_tag "computer-programming.png", width: "430px", alt: "virtual interview pic" %>
    <%# </div> %>
    <%# <div class="img-2"> %>
      <%# <%= image_tag "quote.jpeg", width: "430px", alt: "motivational quote" %>
    <%# </div> %>
  <%# </div> %>
  <%# <hr> %>
